* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

body, html {
    width: 100vw;
    height: 100vh;
    box-sizing: inherit;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    color: #0094ff;
}

.container {
    flex: 1 0 auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer {
    padding-top: 25px;
    color: #bbb;
    line-height: 1.5;
    color: #fff;
}

    footer a {
        text-decoration: none;
        color: #eee;
    }

a:hover {
    text-decoration: underline;
}

.ft-title {
    color: #fff;
    font-family: ’Merriweather’, serif;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
}

.ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
    background-color: #555555;
}

.ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem /*200px*/;
}

@media only screen and (min-width: 29.8125rem /*477px*/ ) {
    .ft-main {
        justify-content: space-around;
    }
}

@media only screen and (min-width: 77.5rem /*1240px*/ ) {
    .ft-main {
        justify-content: space-evenly;
    }
}

form {
    display: flex;
    flex-wrap: wrap;
}

input[type="email"] {
    border: 0;
    padding: 0.625rem;
    margin-top: 0.3125rem;
}

input[type="submit"] {
    background-color: navy;
    color: #fff;
    cursor: pointer;
    border: 0;
    padding: 0.625rem 0.9375rem;
    margin-top: 0.3125rem;
}

.ft-social {
    padding: 0 1.875rem 1.25rem;
    background-color: #555555;
}

.ft-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid;
    padding-top: 1.25rem;
}

    .ft-social-list li {
        margin: 0.5rem;
        font-size: 1.25rem;
    }

.ft-legal {
    padding: 0.9375rem 1.875rem;
    background-color: #333;
}

.ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

    .ft-legal-list li {
        margin: 0.125rem 0.625rem;
        white-space: nowrap;
    }
        /* one before the last child */
        .ft-legal-list li:nth-last-child(2) {
            flex: 1; /* same as flex-grow: 1; */
        }

.fixed-header {
    top: 0;
    left: 0;
    /*right: 0; /*Allows fixed header to strecth all the way to the right*/
    outline: 2px solid #000000;
    width: contain;
    position: fixed;
    background: #1e1e1e;
    padding: 10px 0px;
    color: #fff;
    
}

    .fixed-header ul {
        margin: 0;
    }

    .fixed-header li{
        direction: ltr;
        display: inline-block;
    }

nav a {
    color: #fff;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    padding: 0px 25px 0px 25px;
    display: inline-block;
    left: 0;
}

    nav a:hover {
        color: #000000;
        padding: 0px 25px 0px 25px;
        display: inline-block;
        background-color: #ddd;
    }

navsub a {
    color: #0094ff;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

    navsub a:hover {
        color: #0094ff;
    }

.wrapper p {
    width: 95%;
    line-height: 35px; /* Create scrollbar to test positioning */
    padding-left: 30px;
    padding-bottom: 15px;
    text-indent: 30px;
    flex: 1; /* same as flex-grow: 1; */
    font-family: 'Times New Roman', Times, serif;
    color: #0094ff;
}

.title p {
    width: 100%;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    color: blueviolet;
    line-height: 30px;
    padding: 10px 0px 10px 10px;
}

.title h1 {
    width: 100%;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: blueviolet;
    line-height: 40px;
    padding-left: 30px;
    text-align: left;
}

.title h2 {
    padding-left: 30px;
    text-align: left;
    width: 100%;
    font-size: 18px;
    color: blueviolet;
    line-height: 20px;
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.card h2 {
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.logo {
    top: 0;
    left: 0;
    width: 50px;
    height: auto;
    padding-top: 3.5px;
    padding-left:20px;
    display: inline-block;
    position: fixed;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
    margin: 0 -5px;
}

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

/* Style the counter cards */
.card {
    box-shadow: 2px 4px 8px 2px rgba(138, 43, 226, 0.8); /* this adds the "card" effect */
    text-align: left;
    background-color: #1e1e1e;
    padding: 20px;
    margin-bottom: 40px;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
    float: left;
    width: 75%;
    padding-left: 20px;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }

ul li:hover ul {
    display: block;
}

ul li ul {
    position: absolute;
    width: 200px;
    display: none;
}

ul li ul li {
    background: #1e1e1e;
    display: block;
    float: left;
    clear: left;
}

ul li ul li a {
    display: block !important;
}

ul li ul li:hover {
    background: #666;
}