html, body {
    width: 99%;
    height: 100%;
    margin: 0 0 0 0;
    padding-top: 15px;
    padding-bottom: 0px;
    padding-right: 0px;
    background-color: navy;
    color: #0094ff
}

.wrapper {
    min-height: auto;
    margin: 0px; /* the bottom margin is the negative value of the footer's height */
}

.container {
    width: 100%;
    margin: 0 0 0 0;
}

.fixed-header {
    top: 0;
    left: 0;
    right: 0;
    outline: 2px solid #000000;
    width: contain;
    position: fixed;
    background: #1e1e1e;
    padding: 10px 0px;
    color: #fff;
    margin: 0 0 0 0;
}

    .fixed-header ul {
        margin: 0;
    }

.footer {
    outline: 2px solid #000000;
    width: contain;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #1e1e1e;
    padding: 10px 10px 10px 10px;
    color: #fff;
    margin: 0 0 0 0;
}

.footer, .push {
    height: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0px 25px 0px 25px;
    display: inline-block;
    left: 0;
}

    nav a:hover {
        color: #000000;
        padding: 0px 25px 0px 25px;
        display: inline-block;
        background-color: #ddd;
    }

.wrapper p {
    line-height: 20px; /* Create scrollbar to test positioning */
    padding-left: 30px;
    text-indent: 30px;
}

.title p {
    width: 100%;
    font-size: 22px;
    color: blueviolet;
    line-height: 0px;
    padding: 10px;
}

.title p2 {
    width: 100%;
    font-size: 18px;
    color: blueviolet;
    line-height: 0px;
    padding-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.title h1 {
    width: 100%;
    font-size: 30px;
    color: blueviolet;
    line-height: 0px;
    padding: 10px;
}

#Homeimage {
    height: 30px;
    width: 30px;
    padding-top: 3.5px;
    padding-left: 40px;
    display: inline-block;
    position: fixed;
    margin: 0 0 0 0;
    left: 0;
    top: 0;
}