* {
    box-sizing: border-box;
    font-family: ’Lato’, sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding-left: 0;
}

footer {
    padding-top: 25px;
    color: #bbb;
    line-height: 1.5;
    color: #fff;
}

    footer a {
        text-decoration: none;
        color: #eee;
    }

a:hover {
    text-decoration: underline;
}

.ft-title {
    color: #fff;
    font-family: ’Merriweather’, serif;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding-top: 45px;
    background-color: navy;
    color: #0094ff
}

.container {
    flex: 1 0 auto;
}


.ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
    background-color: #555555;
}

.ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem /*200px*/;
}

@media only screen and (min-width: 29.8125rem /*477px*/ ) {
    .ft-main {
        justify-content: space-around;
    }
}

@media only screen and (min-width: 77.5rem /*1240px*/ ) {
    .ft-main {
        justify-content: space-evenly;
    }
}

form {
    display: flex;
    flex-wrap: wrap;
}

input[type="email"] {
    border: 0;
    padding: 0.625rem;
    margin-top: 0.3125rem;
}

input[type="submit"] {
    background-color: navy;
    color: #fff;
    cursor: pointer;
    border: 0;
    padding: 0.625rem 0.9375rem;
    margin-top: 0.3125rem;
}

.ft-social {
    padding: 0 1.875rem 1.25rem;
    background-color: #555555;
}

.ft-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid;
    padding-top: 1.25rem;
}

    .ft-social-list li {
        margin: 0.5rem;
        font-size: 1.25rem;
    }

.ft-legal {
    padding: 0.9375rem 1.875rem;
    background-color: #333;
}

.ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

    .ft-legal-list li {
        margin: 0.125rem 0.625rem;
        white-space: nowrap;
    }
        /* one before the last child */
        .ft-legal-list li:nth-last-child(2) {
            flex: 1; /* same as flex-grow: 1; */
        }

.fixed-header {
    top: 0;
    left: 0;
    /*right: 0; /*Allows fixed header to strecth all the way to the right*/
    outline: 2px solid #000000;
    width: contain;
    position: fixed;
    background: #1e1e1e;
    padding: 10px 0px;
    color: #fff;
    margin: 0 0 0 0;
}

    .fixed-header ul {
        margin: 0;
    }

    .fixed-header li{
        direction: ltr;
        display: inline-block;
    }

nav a {
    color: #fff;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    padding: 0px 25px 0px 25px;
    display: inline-block;
    left: 0;
}

    nav a:hover {
        color: #000000;
        padding: 0px 25px 0px 25px;
        display: inline-block;
        background-color: #ddd;
    }

.wrapper p {
    width: 95%;
    line-height: 35px; /* Create scrollbar to test positioning */
    padding-left: 30px;
    padding-bottom: 15px;
    text-indent: 30px;
    flex: 1; /* same as flex-grow: 1; */
    /*font-family: 'Times New Roman', Times, serif;*/
}

.title p {
    width: 100%;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    color: blueviolet;
    line-height: 30px;
    padding: 10px 0px 10px 10px;
}

.title h1 {
    width: 100%;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: blueviolet;
    line-height: 20px;
    padding: 10px;
}

.title h2 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: blueviolet;
    line-height: 20px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    top: 0;
    left: 0;
    width: 50px;
    height: auto;
    padding-top: 3.5px;
    padding-left:20px;
    display: inline-block;
    position: fixed;
}